.placeHolder {
    color: orange;
}

.animalButton{
    color: white;
    margin-top: 5px;
    background-color: orange;
    margin-left: 5px;
}

#gifSet{
    margin-top: 15px;
}

#ratingText{
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 8px;
    margin-top: 5px;
}